@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "cssreset.css";
@import "top-section.css";
@import "services.css";
@import "portfolio-section.css";
@import "exp-section.css";


body{
    padding: 0px 50px 0 50px;
    /* background: purple; */
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}